
streamlit
fastapi
uvicorn
psycopg2-binary
redis
pandas
numpy
yfinance
vectorbt
openpyxl
streamlit-autorefresh
alpaca-py
requests


flask
kafka-python
boto3


alpaca-trade-api
scikit-learn


xgboost
websocket-client


prometheus-client
python-dotenv
